#header {
  height: 40px;
  background-color: #fff;
  line-height: 40px;
  border-bottom: 1px solid #cccccc;
  text-align: center;
}

#header .container div:nth-child(n + 2) {
  border-left: 1px solid #ccc;
}

#header .container .glyphicon-menu-down {
  position: relative;
}

#header .container .glyphicon-menu-down:hover img {
  display: block;
}

#header .container .glyphicon-menu-down img {
  position: absolute;
  z-index: 9;
  top: 20px;
  right: 0;
  display: none;
}

#header .container .zhuce {
  display: inline-block;
  background-color: #d9534f;
  color: #fff;
  line-height: 28px;
  border-radius: 6px;
  padding: 0 10px;
  vertical-align: middle;
  margin-right: 10px;
}

#header .container .zhuce:hover {
  background-color: #c9302c;
}

#header a {
  color: #333;
  text-decoration: none;
}

#header .login:hover {
  text-decoration: underline;
}

#nav {
  background-color: #fff;
  margin-bottom: 0;
}

#nav .container button.navbar-toggle {
  margin-top: 23px;
}

#nav .container .navbar-brand {
  height: 80px;
  line-height: 50px;
  font-size: 40px;
}

#nav .container .navbar-brand .icon-icon {
  color: #e92322;
}

#nav .container .navbar-brand .icon-logo {
  color: #000;
}

#nav .container .navbar-nav li {
  font-size: 16px;
}

#nav .container .navbar-nav li a {
  line-height: 50px;
  color: #333;
}

#nav .container .navbar-nav li.active, #nav .container .navbar-nav li:hover {
  border-bottom: 3px solid #e92322;
}

#nav .container .navbar-nav li.active a,
#nav .container .navbar-nav li.active a:focus,
#nav .container .navbar-nav li.active a:hover {
  background-color: #fff;
}

#carousel-example-generic .carousel-inner .item .pcImg {
  display: block;
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
}

#carousel-example-generic .carousel-inner .item img {
  width: 100%;
}

#wjs_links {
  padding-top: 20px;
}

#wjs_links .media .media-left {
  font-size: 40px;
}

#wjs_links .media .media-left a {
  color: #333;
}

#yuyue {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  height: 64px;
}

#yuyue .container {
  line-height: 64px;
}

#yuyue .container .col-sm-9 .wjs_icon {
  font-size: 18px;
}

#yuyue .container .col-sm-9 a {
  color: #333;
}

#yuyue .container .col-sm-9 a.wjs_bookingNow {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}

#yuyue .container .col-sm-3 .wjs_icon {
  font-size: 18px;
}

#yuyue .container .col-sm-3 a {
  color: #333;
}

#banner {
  background-color: #eee;
  clear: both;
}

#banner .nav-tabs li {
  margin-bottom: 0;
  padding: 0 10px;
}

#banner .nav-tabs li a {
  color: #333;
  line-height: 50px;
  border: none;
}

#banner .nav-tabs li a:hover {
  background-color: #eee;
}

#banner .nav-tabs li.active a {
  border-bottom: 3px solid #e92322;
  background-color: #eee;
}

#banner .tab-content #b1 .container {
  margin-left: -15px;
  padding-bottom: 20px;
}

#banner .tab-content #b1 .container .col-md-4 {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

#banner .tab-content #b1 .container .col-md-4.active {
  color: #fff;
}

#banner .tab-content #b1 .container .col-md-4.active .left,
#banner .tab-content #b1 .container .col-md-4.active .right {
  background-color: #e92322;
}

#banner .tab-content #b1 .container .col-md-4.active .left {
  position: relative;
}

#banner .tab-content #b1 .container .col-md-4.active .left::before {
  content: '\e915';
  font-family: 'wjs';
  position: absolute;
  font-size: 30px;
  left: 0;
  top: -7px;
}

#banner .tab-content #b1 .container .col-md-4.active .right p {
  color: #fff;
}

#banner .tab-content #b1 .container .col-md-4 .left {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  background-color: #fff;
}

#banner .tab-content #b1 .container .col-md-4 .left h4 {
  text-align: center;
}

#banner .tab-content #b1 .container .col-md-4 .left p {
  margin-bottom: 7px;
}

#banner .tab-content #b1 .container .col-md-4 .left .col-xs-6:nth-of-type(1) p {
  padding-left: 5px;
  line-height: 20px;
}

#banner .tab-content #b1 .container .col-md-4 .left .col-xs-6:nth-of-type(2) p {
  text-align: right;
  padding-right: 5px;
}

#banner .tab-content #b1 .container .col-md-4 .right {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border-left: 2px dashed #eee;
  background-color: #fff;
  text-align: center;
  padding-top: 15px;
  position: relative;
}

#banner .tab-content #b1 .container .col-md-4 .right > .tips {
  cursor: pointer;
}

#banner .tab-content #b1 .container .col-md-4 .right > .tips .bao {
  color: #e92322;
  border: 1px solid #e92322;
}

#banner .tab-content #b1 .container .col-md-4 .right > .tips .bei {
  color: blue;
  border: 1px solid blue;
}

#banner .tab-content #b1 .container .col-md-4 .right > p {
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 0;
  color: #e92322;
  font-weight: 700;
}

#banner .tab-content #b1 .container .col-md-4 .right > p > span {
  font-size: 16px;
}

#banner .tab-content #b1 .container .col-md-4 .right::before {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #eee;
  position: absolute;
  border-radius: 50%;
  left: -9px;
  top: -8px;
}

#banner .tab-content #b1 .container .col-md-4 .right::after {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #eee;
  position: absolute;
  border-radius: 50%;
  left: -9px;
  bottom: -8px;
}

#news .row h2 {
  padding-top: 20px;
  border-bottom: 1px solid #ccc;
  line-height: 60px;
  text-align: center;
  position: relative;
}

#news .row h2::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  bottom: -5px;
}

#news .row .nav-tabs {
  padding-left: 20px;
  padding-top: 30px;
  border-bottom: none;
  position: relative;
}

#news .row .nav-tabs .line {
  content: '';
  width: 0;
  height: 380px;
  border-left: 1px dashed #e92322;
  position: absolute;
  left: 50px;
  top: 40px;
}

#news .row .nav-tabs li {
  margin-bottom: 60px;
}

#news .row .nav-tabs li.active a {
  background-color: #e92322;
}

#news .row .nav-tabs li a {
  width: 60px;
  height: 60px;
  background-color: #cccccc;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

#news .row .nav-tabs li a:hover {
  background-color: #e92322;
}

@media screen and (max-width: 992px) {
  #news .row .nav-tabs li {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

#news .row .tab-content {
  padding-top: 50px;
}

#news .row .tab-content #n1 ul li {
  list-style: none;
  line-height: 50px;
}

#news .row .tab-content #n1 ul li a {
  text-decoration: none;
  color: #333;
}

#footer {
  background-color: #eee;
}

#footer h3 {
  text-align: center;
}

#footer ul li {
  list-style: none;
  float: left;
  font-size: 80px;
  margin: 0 20px;
}

#footer ul li a {
  color: #333;
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */